{% extends "base.html" %}

{%block title%}My Comments{% endblock title %}

{% block content %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>My comments</h1>

    {% if comments %}
    <table class="table">
      <thead>
        <tr>
          <th>Comment</th>
          <th>Topic</th>
          <th>Created</th>
        </tr>
      </thead>

      <tbody>
        {% for comment in comments %}
          <tr>
            <td>{{ comment.content }}</td>
            <td><a href="/topic/{{ comment.topic_id }}/details">{{ comment.topic_title }}</a></td>
            <td>{{ comment.created.strftime('%d/%m/%Y at %H:%M') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-info text-center">
      <span>No comments found</span>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}