{% extends "base.html" %}

{% block title %}Add new topic{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">

    <h1>Add new topic</h1>

    <form method="post">
      <input type="hidden" name="csrf-token" value="{{ csrf_token }}">

      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" required>
      </div>

      <div class="form-group">
        <label>Text</label>
        <textarea name="text" class="form-control" rows="6" required></textarea>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}