{% extends "base.html" %}

{% block title %}Add new topic{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-12">

    <h1 id="add-topic-heading">Add new topic</h1>

    <form method="post">
      <input type="hidden" name="csrf-token" value="{{ csrf_token }}">

      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" name="title" required id="add-topic-title">
      </div>

      <div class="form-group">
        <label>Text</label>
        <textarea name="text" class="form-control" rows="6" required id="add-topic-text"></textarea>
      </div>

      <div class="form-group">
        <label id="topic-sum-label">Guess the sum</label>
        <input type="text" class="form-control" required id="add-topic-sum">
        <span class="help-block hidden">Wrong sum!</span>
        <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
      </div>

      <button type="submit" class="btn btn-success" id="add-topic-button">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}

{%block scripts%}
<script src="/assets/custom/js/topic-add.js"></script>
{% endblock scripts %}